* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#basic-setup {
    background: #fff;
    color: #3b3b3b;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 18px;
    overflow-x: hidden;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.section-cours,
.section-formulaire,
.section-footer {
    padding: 45px 0;
}

/******************************* Generic *********************************************/

.remove-margin-h1 {
    margin: 0;
}

.header-h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 320%;
    padding-bottom: 20px;
}

.h2-format {
    font-size: 260%;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid red;
}

.h3-format {
    font-size: 200%;
    font-weight: 400;
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    padding: 20px 40px;
    text-decoration: none;
    color: #fff;
}

/************************************************** Header ****************************************************/

.header-content {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(img/topbg.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/topbg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.header-main-title {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn-green {
    background: #20cc41;
    border: 1px solid #fff;
}

/*************************************************** Nav Bar ******************************************************/

.logo-nav {
    float: left;
}

.main-nav-list {
    float: right;
    list-style: none;
    margin-top: 25px;
}

.main-nav-list-elements {
    display: inline-block;
    margin-left: 50px;
}

.main-nav-list-elements-links:link,
.main-nav-list-elements-links:visited,
.link-sociaux-footer:link,
.link-sociaux-footer:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.5s;
    transition: border-bottom 0.5s;
}

.main-nav-list-elements-links:hover,
.main-nav-list-elements-links:active,
.link-sociaux-footer:hover,
.link-sociaux-footer:active {
    border-bottom: 2px solid #20cc41;
}

/*********************************************************** js ****************************************/

.nav-js {
    position: fixed;
    background: rgba(20, 20, 20, 0.94);
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 9999;
}

/* ******************************************************** formation *******************************/

.section-cv {
    background: #f4f4f4;
    padding-top: 4%
}

.cv-format {
    padding-top: 4%;
    margin: 0 auto;
}
.img-center {
    text-align: center;
}

/********************************************** Presentation *****************************/

.col-nomarg {
    margin: 0;
}

.image-left-quisuisje {
    background: url(../img/leftquisuisje.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;
}

.text-center-quisuisje {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.h3-quisuisje {
    text-align: center;
    color: #20cc41;
    font-size: 240%;
    font-weight: 200;
}

.text-presentation-quisuisje {
    font-size: 150%;
    padding-top: 20px;
    text-align: center;
}

/************************************* Contact ******************************/

.section-formulaire {
    padding-top: 4%
    background: #f4f4f4;
    text-align: center;
}

.formulaire-formulaire {
    width: 60%;
    margin-left: 20%;
}

.input-formulaire,
.select-formulaire,
.textarea-formulaire {
    width: 100%;
    padding: 6px;
    border: 1px solid #bebebe;
    border-radius: 5px;
}

.btn-radius {
    border-radius: 5px;
}

.contact {
    text-align: center;
}
/************************************* Footer **************************************/

.section-footer {
    background: #343434;
}

.copyright-footer {
    float: left;
    color: #fff;
    padding-top: 3%;
}

.sociaux-footer {
    float: right;
    list-style: none;
}

.list-sociaux-elements-footer {
    display: inline-block;
    padding-left: 20px;
    font-size: 200%;
}
